PYTHONPATH=${PYTHONPATH}:${PWD}
export COCKPIT_USER_NAME=root
export COCKPIT_USER_PASSWORD=vagrant
export COCKPIT_URL=https://centos7.subman.example.com:9090
export RHSM_SERVICES_URL=ws://centos7.subman.example.com:9091
export COCKPIT_SUBSCRIPTION_USER_NAME=testuser1
export COCKPIT_SUBSCRIPTION_PASSWORD=password
export COCKPIT_SUBSCRIPTION_ORG_ID=admin
export COCKPIT_SUBSCRIPTION_ACTIVATION_KEY_WITH_PARTIAL_SUBSCRIPTION=default_key
export COCKPIT_SUBSCRIPTION_PROXY_HOSTNAME=proxy-server.subman.example.com
export COCKPIT_SUBSCRIPTION_PROXY_PORT=3128
export COCKPIT_SUBSCRIPTION_PROXY_USER=proxyuser
export COCKPIT_SUBSCRIPTION_PROXY_PASSWORD=password
export RHSM_STAGE_CANDLEPIN_URL=https://subscription.rhsm.stage.redhat.com/subscription
export RHSM_TEST_CANDLEPIN_URL=https://candlepin.example.com:8443/candlepin
