[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
ipython = "*"
rx = "*"
colorama = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-repeat = "*"
funcy = "*"

[dev-packages]

[requires]
python_version = "3.6"
